<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/home" access="permitAll" />
		<intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
		<!-- <intercept-url pattern="/rest/**" access="hasRole('ADMIN')" /> -->

		<intercept-url pattern="/dba**"
			access="hasRole('ADMIN') and hasRole('DBA')" />
		<form-login authentication-failure-url="/Access_Denied" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>



</beans:beans>